vless=tw-01.example.com:443, method=none, password=00000000-0000-0000-0000-000000000000, obfs=over-tls, tag=Nexitally-TW-01
http=192.0.2.10:8080, username=demo, password=pwd, over-tls=false, tag=Nexitally-HTTP-01
