anytls=hk-01.example.com:443, password=pwd, over-tls=true, tls-host=www.apple.com, udp-relay=true, tag=Nexitally-HK-01
anytls=jp-01.example.com:443, password=pwd, over-tls=true, tls-host=www.apple.com, udp-relay=true, tag=Nexitally-JP-01
shadowsocks=sg-01.example.com:80, method=chacha20, password=pwd, obfs=http, obfs-host=bing.com, udp-relay=false, tag=Nexitally-SG-01
vmess=us-01.example.com:443, method=none, password=00000000-0000-0000-0000-000000000000, obfs=over-tls, obfs-host=www.example.net, udp-relay=false, tag=Nexitally-US-01
vless=tw-01.example.com:443, method=none, password=00000000-0000-0000-0000-000000000000, obfs=over-tls, obfs-host=www.example.net, udp-relay=false, tag=Nexitally-TW-01
trojan=kr-01.example.com:443, password=pwd, over-tls=true, tls-host=www.example.net, tls-verification=true, udp-relay=false, tag=Nexitally-KR-01
http=198.51.100.20:8080, username=demo, password=pwd, over-tls=false, tag=Nexitally-HTTP-01
socks5=203.0.113.30:1080, username=demo, password=pwd, over-tls=false, tag=Nexitally-SOCKS-01
